# OS / editor
.DS_Store
.ipynb_checkpoints/

# private data
data/raw/

# ad-hoc outputs
snaps/

# secrets
.env
.env.*

# Some experimental stuff for ad-hoc tests
experiments/

# Build/Packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
